:root {
    /* PRIMARY */
    --clr-primary: hsl(0, 100%, 68%);
    --clr-primary-hover: hsl(0, 100%, 75%);
    
    /* NEUTRAL */
    --clr-neutral-800: hsl(230, 29%, 20%);
    --clr-neutral-500: hsl(230, 11%, 40%);
    --clr-neutral-400: hsl(231, 7%, 65%);
    --clr-neutral-200: hsl(207, 33%, 95%);

}