@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

/* DISPLAY FOR HEADER */
.header__display {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp.breakpointMin(medium-screen) {
        button {
            display: none;
        }

        nav {
            ul {
                display: flex;
                align-items: center;
                gap: f.rem(44);
            }
        }
    }
}

/* DISPLAY FOR MAIN */
.main {
    &__display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'img'
            'content';
        gap: f.rem(100);

        .main__img {
            grid-area: img;
        }

        .content__display {
            .head {
                display: flex;
                align-items: center;
                gap: f.rem(26);
            }

            .content {
                .demo {
                    display: flex;
                    align-items: center;
                    gap: f.rem(20);
                }
            }

            grid-area: content;
        }
    }

    @include bp.breakpointMin(medium-screen) {
        &__display {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                'content img';
        }
    }
}