@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

.bg {
    position: absolute;
    top: 0;
    right: 0;
}

.header__position {
    position: relative;
    
    nav {
        position: absolute;
        width: 100%;
        bottom: f.rem(-285);
    }

    @include bp.breakpointMin(medium-screen) {
        nav {
            position: unset;
            width: unset;

            ul {
                li {
                    a {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            right: 0;
                            margin-inline: auto;
                            width: 0;
                            height: 2px;
                            background-color: var(--clr-neutral-800);
                            transition: width .3s ease-in-out;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }

                li:nth-of-type(4) {
                    a {
                        &::after {
                            background-color: var(--clr-neutral-400);
                        }
                    }
                }
            }
        }
    }
}

/* MAIN POSITION */
.main {
    &__position {
        
        @include bp.breakpointMin(medium-screen) {
            .main__img {
                left: 50%;
                position: absolute;
            }
        }
    }
}

/* FOOTER POSITION */
footer {
    @include bp.breakpointMin(medium-screen) {
        /* Hover effect on links */
        .attribution a { 
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-inline: auto;
                width: 0;
                height: 2px;
                background-color: var(--clr-neutral-800);
                transition: width .3s ease-in-out;
            }
        
            &:hover::after {
                width: 100%;
            }
        }
    }
}