@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

.bg {
    position: absolute;
    top: 0;
    right: 0;
}

.header__position {
    position: relative;
    
    nav {
        position: absolute;
        width: 100%;
        bottom: f.rem(-300);
    }
}